* {
    margin: 0 ;
    padding: 0 ;
    scroll-behavior: smooth;
}
body {
    background-color: #83214c;
    color: #fff;
    font-family: "Poppins", sans-serif;
}


    /* Header section  */

header {
    position: fixed;
    z-index: 999;
    margin-top: 5vh ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100vw ;
}

.nav1 {
    padding: 20px 80px 0px;
}

.nav1 h1 {
    text-transform: uppercase;
}

.nav2 {
    width: 40vw ; 
    margin-left: auto;
    padding: 20px 30px 20px;
    margin-right: 6vw ;
}   

.nav2 h3 {
    font-weight: 500;
}

.nav2 ul {
    display: flex;
    justify-content: space-around;
}

.nav2 ul li {
    list-style: none;
}

.nav2 ul li a {
    text-decoration: none;
    color: #fff;
}


    /* Home page  */


#home {
    height: 100vh ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mainText {
    width: 60vw ;
}

.mainText h2 {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.mainText h2 span {
    font-size: 2em;
    font-weight: 700;
}

.mainText h3 {
    margin-top: 4vh;
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.btn-aboutme {
    border: 1px solid #fff;
    background: #83214c;
    opacity: 0.9;
    display: inline-block;
    color: #fff;
    margin-top: 4vh;
    margin-left: 23vw ;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn-aboutme:hover {
    background: #fff;
    border : 1px solid #000;
    color: #83214c;
    text-decoration: none;
}



    /* About section  */

#aboutme {
    background-color: #fff ;
    color: #83214c ;
    height: 120vh ;
}

.heading h2 {
    padding-top: 7vh ;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 7vh ;
}    

.about-content {
    width: 90vw ;
    height: 80vh;
    margin-left: 5vw ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.about-text {
    max-width: 40%;
    min-height: 70%;
    color: #000; 
}

.about-text h3 {
    font-size: 1.5rem;
    padding-bottom: 2.5rem ;
}
.about-text p {
    margin-bottom: 1rem;
}

.yash-img {
    display: block;
    max-width: 450px;
    height: auto;
    border-radius: 10%;
}




    /* Skills section  */

#skills {
    height: 40vh ;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3vh ;
}

.icon {
    font-size: 40px;
    color: #fff;
}


    /* Projects sections  */

#projects {
    height: 30vh;
    background-color: #fff;
    color: #83214c ;
}


    /* Contact me  */

#contactme {
    height: 100vh ;
}

.div-connect {
    width: 90vw ;
    margin-left: 5vw ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h3-contact {
    color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin-left: 60px;
  padding: 10px 0 20px;
}

.socials .box {
    padding: 20px 0;
    display: flex;
    margin-left: 50px;
}

.socials .box .icon {
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.socials .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
  }


  .socials .box .text h3 {
    font-weight: 600;
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 2px;
  }
  .socials .box .text p {
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
  }

  .fa {
    color: #fff;
  }
  
  .fa:hover {
    color: #000;
  }


  .messageme {
    width: 40vw ;
  }

  .form-contact form {

    display: flex;
    flex-direction: column;
    line-height: 2;
  }
  
  .form-contact form h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 0 0 20px;
  }


.form-contact form input,
.form-contact form textarea {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 16px;
  border: none;
  outline: none;
  background: white;
  resize: none;
  color: #000;
}

.form-contact form textarea {
height: 150px;
}