@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px #313532;
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: #491734;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: flex;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a {
    color: #313532;
}

section {
    padding: 100px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: #313532;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: 3rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
}

.btn {
    position: relative;
    background: #435748;
    opacity: 0.9;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn:hover {
    background: #3a4e3f;
}

.content {
    display: flex;
    justify-content: space-between;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #313532;

}

.heading.white {
    color: #fff;
}

.conetntBx {
    padding-right: 30px;
}

.conetntBx h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.heading h2 {
    font-size: 30px;
    font-weight: 600;
}

.w50 {
    min-width: 50%;
}

image {
    max-width : 100%;
}

.img-responsive {
    display: block;
    max-width: 80%;
    height: auto;
  }

.imgIM {
    float: right;
    border-radius: 50%;
    width: 450px;
    height: auto;
}

.services {
    background: #313532;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .servicesBx
{
  padding: 20px 20px;
  background: #313532;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}

.services .content .servicesBx:hover {
  background: rgba(255,0,0,0.1);;
}

.services .content .servicesBx img {
  max-width: 80px;
}
.services .content .servicesBx h2 {
  font-size: 20px;
  font-weight: 600;
}
.icon .fa {
color: #fff;
}

